/**
 * @author Prénom Nom courriel
**/

/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */

/****** Base commune *******/
.nav{
    text-align: right;
    font-family: var(--fontfamily);
    font-weight: bold;
    color: var(--color-text);
}


/* Bouton du menu */
.nav__control {
    color: aliceblue; /* pour changer la couleur par défaut des textes de bouton (noire) */
    background-color: transparent;
    border: none;
    padding: 10px;
    min-width: 40px;
}
@media (min-width: 600px) {
    .nav__control {
        display: none;
    }
}
.nav__control:hover,
.nav__control:active {
    color:var(--color-text);
    background-color: var(--color-G);
}

.nav__control:focus {
    /* En mettant la règle outline: none;, les styles du navigateur
     * pour les éléments en cours de focus sont effacés. Il faut alors
     * les remplacer par d'autres styles qui peuvent être plus
     * en accord avec la direction visuelle du projet.
     */
    outline: none;
    /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
    /*
     * Les règles outline-offset et outline permettent
     * de modifier l'apparence du outline par défaut des navigateurs.
     */

    /* outline-offset: -5px; */
    /* outline: rgba(255, 255, 255, 0.25) auto 5px; */
    outline: var(--color-Y) groove 3px;
    background-color: var(--color-G);
}
/*  Bouton X lors de l'ouverture du button hamburger */
.nav__control:before {
    display: inline-block;
    content: " ";
    width: 1em;
    height: 1em;
    background-image: url("../images/ico-fermer.svg");
    vertical-align: top;
    margin-right: .25em;
}
/*  Hamburger button */
.nav--closed .nav__control:before{
    display: inline-block;
    content: " ";
    width: 1em;
    height: 1em;
    background-image: url("../images/ico-menu.svg");
    vertical-align: top;
    margin-right: .25em;
    }

/* Liste du menu */
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-height: none;
    text-align: right;
}
@media (min-width: 600px) {
    .nav__list-item {
        display: inline-block;
        background-color: transparent;
    }
}

/* Liens du menu */
.nav__link {
    background-color: transparent;
    display: flex;
    padding: 5px 10px;
    width: 100%;
    color: var(--color-text);
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    color: var(--color-text);
}

.nav__link:hover {
    /* background-color: transparent; */
    color: var(--color-Y);
}

.nav__link--active {
    border-left: 5px solid var(--color-Y);
}
@media (min-width: 600px) {
    .nav__link--active {
        border-left:none;
        border-bottom:5px solid var(--color-Y);
    }
} 

.nav__link:focus,
.nav__link:focus-visible {
    border-left: var(--color-Y) solid 5px;
    outline: none;
}
@media (min-width: 600px) {
    .nav__link:focus,
    .nav__link:focus-visible {
    border-left: none;
    border-bottom: var(--color-Y) solid 5px;
    outline: none;;
    }
}


/**
 * Styles conditionnels au JavaScript
 * L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
    .js .nav__list {
        max-height: 100vh;
        overflow: hidden;
        transition: max-height 2s;
    }
    .js .nav--closed .nav__list {
        max-height: 0;
        transition: max-height 0.5s;
    }
}